@import "../../../../styles/mixins/index.scss";

.product-infomation-single {
  .in-stock {
    padding: 0 0 10px 0;
    span {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      color: #1dcf19;
    }
  }

  .categories-text {
    padding: 28px 0 0 0;
    span {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      color: #5c5c5c;
    }
  }

  .action-all-button-alignment {
    display: flex;
    align-items: center;
    gap: 14px;

    @include breakpoint("sm-max") {
      flex-wrap: wrap;
    }

    .add-to-cart {
      button {
        border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        height: 41px;
        background: #9284ff;
        border-radius: 5px;
        color: #ffffff;
        padding: 8px 35px;
        cursor: pointer;
        color: #fff;
      }
    }

    .like-button {
      width: 41px;
      height: 41px;
      display: flex;
      background: #ffffff;
      border: 1px solid #5c5c5c;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .form-group {
      button {
        input{
          border: none;
          width: 55px;
          text-align: center;
          outline: none;
        }
        background: #ffffff;
        font-weight: 400;
        font-size: 16px;
        color: #5c5c5c;
        border: 1px solid #5c5c5c;
        padding: 8px 14px;
        width: 134px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }

  .all-details-text {
    padding: 0 0 28px 0;
    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;

      /* dark grey */

      color: #5c5c5c;
      display: block;
    }
  }

  .prize {
    padding: 0 0 20px 0;
    p {
      font-weight: 600;
      font-size: 22px;
      line-height: 32px;
      color: #9284ff;
      del {
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        text-decoration-line: line-through;
        color: #5c5c5c;
        opacity: 0.6;
        padding-right: 20px;
      }
    }
  }

  h1 {
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;
    margin: 0 0 24px 0;
    color: #232328;
  }
}
