@import "../../../../styles/mixins/index.scss";

.new-collections-all-content-alignment {
  .grid {
    display: grid;
    grid-template-columns: 1fr 486px;
    gap: 126px;

    @include breakpoint("sm-max") {
      grid-template-columns: repeat(1 , 1fr);
      gap: 40px;
    }

    .grid-items {
      .first-image-style {
        margin: 0 0 46px 0;
        img {
          width: 100%;
          height: 621px;
          object-fit: cover;

          @include breakpoint("sm-max") {
            height: 421px;
          }
        }
      }
      .child-image {
        padding: 50px 0 0 0;
        img {
            width: 100%;
            height: 617px;
            cursor: pointer;
            object-fit: cover;

            @include breakpoint("sm-max") {
              height: 521px;
            }
        }
      }
      button {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        text-transform: uppercase;
        padding: 14px 28px;
        border: 1px solid #9284ff;
        border-radius: 5px;
        font-family: "Jost", sans-serif;
        color: #9284ff;
        background-color: transparent;

        @include breakpoint("sm-max") {
          font-size: 14px;
          line-height: 20px;
          padding: 12px 24px;
        }
      }

      h3 {
        font-weight: 600;
        font-size: 30px;
        line-height: 43px;
        text-transform: uppercase;
        margin: 0 0 14px 0;
        color: #232328;
        @include breakpoint("sm-max") {
          font-size: 18px;
          line-height: 26px;
      }
      }

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        margin: 0 0 40px 0;
        color: #5c5c5c;
        @include breakpoint("sm-max"){
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
}

.slick-initialized { overflow: hidden !important; }