body {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

button {
    font-family: 'Jost', sans-serif;
}

input {
    font-family: 'Jost', sans-serif;
}

select {
    font-family: 'Jost', sans-serif;
}

option {
    font-family: 'Jost', sans-serif;

}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

p:last-child {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
